{% extends "base.html" %}
{% block body %}
  <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="row">
          <div class="navbar-header col-sm-1">
            <img class="logo" src="{{ url_for('static', filename='logo.png') }}" alt="CivID logo">
          </div>
          {% if 'username' in session %}
            <div class="col-sm-8 center-sm bigtext">
                Signed in as <strong>{{ session['username'] }}</strong>
            </div>
            <div class="col-sm-2 navbar-text">
              <a class="navbar-link" href="{{ url_for('logout') }}">Sign out</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  <main>
    <header class="jumbotron">
      <h1>Sign in with CivID</h1>
      <div class="container">
        <div class="row">
          <dl class="dl-horizontal lead col-md-8 col-md-offset-2">
            <dt>Convenient</dt><dd>No passwords to remember</dd>
            <dt>Trusted</dt><dd>Protect your Civcraft reputation by proving that you're you</dd>
            <dt>Safe</dt><dd>No need to enter your Minecraft password</dd>
            <dt>Secure</dt><dd>Verified using industry-standard encryption techniques</dd>
          </dl>
        </div>
      </div>
    </header>
    <section class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h2>Add CivID to your website</h2>
          <p class="lead">
            Want to verify your users? Tired of writing login and password management code?
            Integrating with CivID couldn't be easier.
          </p>
          <ol>
            <li>
              To log someone in, send them to <code>http://id.civlabs.com/authorize</code>.
              <br>
              Provide these parameters in the URL:
              <dl class="dl-horizontal">
                <dt><code>redirect_uri</code></dt><dd>The URL of a page in your app that will handle the login.
                <dt><code>state</code></dt><dd>An optional string that will get passed back with the identifying user so you can keep track of them.
              </dl>
            </li>
            <li>
              When the user clicks Identify, they will get redirected to your <code>redirect_uri</code> page with these query parameters:
              <dl class="dl-horizontal">
                <dt><code>code</code></dt><dd>An identity code that can be exchanged for the user's Minecraft username. These expire after 30 seconds.</dd>
                <dt><code>state</code></dt><dd>The <code>state</code> you sent along with the user</dd>
              </dl>
            </li>
            <li>
              From your application's server, make a GET request to <code>http://id.civlabs.com/userinfo?code=</code>
              with the code you got from step 2. You will get a JSON response like this:
              {% highlight 'JSON' %}
{
  "user": "lgp30",
  "display_name": "LGP30"
}
              {% endhighlight %}
              <dl class="dl-horizontal">
                <dt><code>user</code></dt><dd>The verified canonical Minecraft username in all lowercase.</dd>
                <dt><code>display_name</code></dt><dd>The canonical capitalization of the username. This could be changed by the user.</dd>
              </dl>
            </li>
          </ol>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
